<h3>Действия</h3>
<ul>
    <li class="list-unstyled">
        <a class="list-group-item" asp-area="" asp-controller="Admin" asp-action="AddProduct">Добавить продукт</a>
        <a class="list-group-item" asp-area="" asp-controller="Admin" asp-action="AddProduct">Пользователи</a>
    </li>
</ul>