@model List<Cart>




@if (Model.Any())
{
    <ul>
        @foreach (var c in Model)
        {
            <li>
                @c.Product.Name
            </li>
        }
    </ul>
}
else
{
    <p>Корзина пуста</p>
}
<a asp-action="Index" asp-controller="Home">Назад</a>


